<script>
  import { setContext } from 'svelte'
  import { writable } from 'svelte/store'
  import { FluentContext, contextKey } from './runtime'

  export let locale
  export let options = {}

  const context = writable(new FluentContext(locale))

  $: context.set(new FluentContext(locale, options))

  setContext(contextKey, context)
</script>

<slot />
